.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


.modal-container {
    background-color: rgb(205, 204, 204);
    width: 30%;
    padding: 10px;
}

.btnDelete {
    background-color: rgb(236, 120, 120);
    border: none;
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.btnSubmit {
    background-color: greenyellow;
    border: none;
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}